<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/style.css" />
		<title>Flask Boggle</title>
	</head>
	<body>
		<h1>Flask Boggle!</h1>
		{% block content %} {% endblock %}
	</body>

	<script
		src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
		crossorigin="anonymous"
	></script>
	<script src="https://unpkg.com/axios/dist/axios.js"></script>
	<script src="/static/app.js"></script>
</html>
